/*-------------
Theme
---------------*/

@media screen and (max-width: 575px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 576px) and (max-width: 990px) {
  body {
    font-size: 17px;
  }
}

@media screen and (min-width: 991px) {
  body {
    font-size: 19px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased !important;
  -ms-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -o-font-smoothing: antialiased !important;

  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;

  --main-bg-color: #ffffff;
  --main-act-color: #29c4a9;
  --main-txt-color: #335451;
  --main-tit-color: #002925;

  --one-bg-color: #e6eded;
  --two-bg-color: #faf0e9;
  --three-bg-color: #d9e8df;
  --four-bg-color: #fff0d6;
  --five-bg-color: #f1efe5;

  --sec-bg-one-color: #009dff;
  --sec-bg-two-color: #fabd24;
  --sec-bg-three-color: #f27862;
  --sec-bg-four-color: #09b360;
  --sec-bg-five-color: #b857a8;

  --size-16px: 0.8421rem;
  --size-19px: 1rem;
  --size-21px: 1.105rem;
  --size-22px: 1.158rem;
  --size-23px: 1.211rem;
  --size-24px: 1.263rem;
  --size-28px: 1.474rem;
  --size-30px: 1.579rem;
  --size-32px: 1.684rem;
  --size-34px: 1.789rem;
  --size-36px: 1.895rem;
  --size-40px: 2.105rem;
  --size-42px: 2.211rem;
  --size-46px: 2.421rem;
  --size-48px: 2.526rem;
  --size-52px: 2.737rem;
  --size-58px: 3.053rem;
  --size-62px: 3.263rem;
  --size-64px: 3.368rem;
  --size-83px: 4.368rem;
}
/*-------------
Fonts
---------------*/

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica,
    Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--main-txt-color);
}

*:target:before {
  content: "";
  display: block;
  height: 200px;
  margin: -200px 0 0;
}

/*-------------
Responsive Grid & Layout
https://drafts.csswg.org/css-flexbox-1/#flex-wrap-property
---------------*/

main,
footer {
  /* Yours ====== */
  /* padding: 30px auto;
  padding: 0; */

  /* Mine ====== */
  padding: 30px 50px;
}

section {
  width: 100%;
  height: auto;
  margin: 0px auto;
  /* Yours */
  /* padding: 100px 50px; */

  /* Mine */
  padding: 70px 50px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: start;
  max-width: 1440px;
  margin: 0 auto;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.center {
  justify-content: center;
}

.row.between {
  justify-content: space-between;
}

.row.around {
  justify-content: space-around;
}

/* mine */

.row.align-center {
  align-items: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  margin: 0 auto;
  padding: 15px;
  border: none;
  width: 100%;
}

@media only screen and (min-width: 576px) {
  /* Extra Small Screen: */
  [class*="col-"] {
    width: 100%;
  }
  [class*="col-12-"] {
    content: "";
    clear: both;
    display: table;
    display: flex;
    flex-flow: column;
  }
}

@media only screen and (min-width: 768px) {
  /* Small Screen: */
  .col-1-sm {
    width: 8.33%;
  }
  .col-2-sm {
    width: 16.66%;
  }
  .col-3-sm {
    width: 25%;
  }
  .col-4-sm {
    width: 33.33%;
  }
  .col-5-sm {
    width: 41.66%;
  }
  .col-6-sm {
    width: 50%;
  }
  .col-7-sm {
    width: 58.33%;
  }
  .col-8-sm {
    width: 66.66%;
  }
  .col-9-sm {
    width: 75%;
  }
  .col-10-sm {
    width: 83.33%;
  }
  .col-11-sm {
    width: 91.66%;
  }
  .col-12-sm {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  /* Medium: */
  .col-1-md {
    width: 8.33%;
  }
  .col-2-md {
    width: 16.66%;
  }
  .col-3-md {
    width: 25%;
  }
  .col-4-md {
    width: 33.33%;
  }
  .col-5-md {
    width: 41.66%;
  }
  .col-6-md {
    width: 50%;
  }
  .col-7-md {
    width: 58.33%;
  }
  .col-8-md {
    width: 66.66%;
  }
  .col-9-md {
    width: 75%;
  }
  .col-10-md {
    width: 83.33%;
  }
  .col-11-md {
    width: 91.66%;
  }
  .col-12-md {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  /* Large Screen: */
  .col-1-lg {
    width: 8.33%;
  }
  .col-2-lg {
    width: 16.66%;
  }
  .col-3-lg {
    width: 25%;
  }
  .col-4-lg {
    width: 33.33%;
  }
  .col-5-lg {
    width: 41.66%;
  }
  .col-6-lg {
    width: 50%;
  }
  .col-7-lg {
    width: 58.33%;
  }
  .col-8-lg {
    width: 66.66%;
  }
  .col-9-lg {
    width: 75%;
  }
  .col-10-lg {
    width: 83.33%;
  }
  .col-11-lg {
    width: 91.66%;
  }
  .col-12-lg {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  /* Extra Large Screen: */
  .col-1-xl {
    width: 8.33%;
  }
  .col-2-xl {
    width: 16.66%;
  }
  .col-3-xl {
    width: 25%;
  }
  .col-4-xl {
    width: 33.33%;
  }
  .col-5-xl {
    width: 41.66%;
  }
  .col-6-xl {
    width: 50%;
  }
  .col-7-xl {
    width: 58.33%;
  }
  .col-8-xl {
    width: 66.66%;
  }
  .col-9-xl {
    width: 75%;
  }
  .col-10-xl {
    width: 83.33%;
  }
  .col-11-xl {
    width: 91.66%;
  }
  .col-12-xl {
    width: 100%;
  }
}

/*-------------
Typography
https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
---------------*/

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p.paragraph {
  font-family: "PT Serif", serif;
  color: var(--main-tit-color);
  margin: var(--size-16px) 0px;
}

h1 {
  font-size: var(--size-64px); /*64px*/
  font-weight: 700;
  line-height: var(--size-83px); /*83px*/
  letter-spacing: -1.5;
}

h2 {
  font-size: var(--size-48px); /*48px*/
  font-weight: 700;
  line-height: var(--size-58px); /*58px*/
  letter-spacing: -1.5;
}

h3 {
  font-size: var(--size-42px); /*42px*/
  font-weight: 700;
  line-height: var(--size-52px); /*52px*/
  letter-spacing: -1.2;
}

h4 {
  font-size: var(--size-36px); /*36px*/
  font-weight: 700;
  line-height: var(--size-46px); /*46px*/
  letter-spacing: -1;
}

h5 {
  font-size: var(--size-30px); /*30px*/
  font-weight: 700;
  line-height: var(--size-40px); /*40px*/
  letter-spacing: 0;
}

h6 {
  font-size: var(--size-24px); /*24px*/
  font-weight: 700;
  line-height: var(--size-34px); /*34px*/
  letter-spacing: 0;
}

blockquote {
  font-size: var(--size-22px); /*22px*/
  font-weight: normal;
  line-height: var(--size-32px); /*32px*/
  letter-spacing: 0;
}

blockquote.medium {
  font-size: var(--size-48px); /*48px*/
  font-weight: normal;
  line-height: var(--size-62px); /*62px*/
  letter-spacing: -1.5;
}

p.paragraph {
  font-size: var(--size-23px); /*23px*/
  font-weight: 700;
  line-height: var(--size-32px); /*32px*/
  letter-spacing: -0.5;
}

p {
  font-size: var(--size-19px); /*19px*/
  font-weight: 400;
  line-height: var(--size-28px); /*28px*/
  letter-spacing: 0;
  color: var(--main-txt-color);

  margin: var(--size-16px) 0px;
}

a {
  font-size: var(--size-22px); /*22px*/
  font-weight: bold;
  line-height: var(--size-32px); /*32px*/
  letter-spacing: -0.75;
  color: var(--main-act-color);

  margin: var(--size-16px) 0px;
}

p a {
  margin: inherit;
}

div.pretitle {
  font-size: var(--size-22px); /*19px*/
  font-weight: bold;
  line-height: var(--size-28px); /*28px*/
  letter-spacing: 0;
  text-transform: uppercase;
  color: var(--main-act-color);

  margin: var(--size-16px) 0px;
}

.center {
  text-align: center;
}

/*-------------
Accessibility
---------------*/

@media only screen and (max-width: 576px) {
  div.pretitle {
    color: var(--main-txt-color);
  }
  a {
    color: var(--main-tit-color);
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

/*-------------
ADDITIONAL
---------------*/

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ======================================== index page ========================================  */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

span.block {
  display: block;
}

.container-wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.light_link {
  color: var(--main-bg-color);
}
.light_bold_link {
  color: var(--one-bg-color);
}
.dark_link {
  color: var(--main-tit-color);
}

/* ===================================== header ============================================ */

.header {
  background-color: transparent;
}
.header_wrapper {
  min-height: 160px;
}

.header_wrapper_child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_img {
  width: 220px;
}

.header_links {
  display: flex;
  flex-wrap: nowrap;
}

.header_links a {
  display: inline-block;
  margin: 0 0.8rem;
  text-decoration: none;
  font-weight: 400;
  font-size: var(--size-22px);
}
.header_login_btn {
  text-decoration: none;
  font-weight: 400;
  margin-right: 20px;
}
.header_requets_btn {
  display: inline-block;
  padding: 13px 30px;
  background-color: var(--main-act-color);
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== hero_section ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */

.main-tit-color {
  background-color: var(--main-tit-color);
}
.three-bg-color {
  background-color: var(--three-bg-color);
}

.hero_section {
  position: relative;
  position: relative;
  margin-bottom: 2rem;
  z-index: 1;
}

.hero_wave_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70%;
  z-index: -1;
}

@media (max-width: 700px) {
  .hero_wave_container {
    min-height: 100%;
  }

  .hero_section {
    margin-bottom: 4rem;
  }
}

.hero_wave_container_wave {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.hero_section_titles {
  padding: 0 15px;
}

.hero_section_titles h1 {
  color: var(--main-bg-color);
  font-weight: 900;
  text-align: center;
  font-size: var(--size-83px);
  margin-bottom: var(--size-30px);
}

.hero_section_titles p {
  color: var(--main-bg-color);
}

.hero_section_titles h5 {
  text-align: center;
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
  font-weight: 400;
}

.hero_section_titles_btn {
  margin-top: var(--size-30px);
}

.hero_section_titles_btn a:nth-child(1) {
  padding: 13px 5px;
  width: 200px;
  text-align: center;
  background-color: var(--main-act-color);
  border-radius: 5px;
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: var(--size-19px);
}

.hero_section_titles_btn a:nth-child(2) {
  padding: 13px 5px;
  border: 2px solid var(--main-act-color);
  width: 200px;
  text-align: center;
  background-color: transparent;
  border-radius: 5px;
  color: var(--main-act-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: var(--size-19px);
}

.hero_google_link {
  display: flex;
  justify-content: center;
}

.hero_google_link a {
  display: flex;
  align-items: center;
  color: var(--main-bg-color);
  text-decoration: none;
  font-weight: 400;
}

.hero_google_link a img {
  width: 20px;
  margin-right: var(--size-16px);
}

.hero_wrapper_image {
  display: block;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: var(--size-28px);
  z-index: 1000000;
  position: relative;
  /* border: 2px solid red; */
}

/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== followed_by ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */

.followed_by img {
  width: 100%;
  margin: var(--size-16px);
}

/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== organization_challenges ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */

.organization_challenges_content_title {
  line-height: 1.1;
}
.organization_challenges_content_title_2 {
  line-height: 1.1;
  margin-bottom: 2.5rem;
}
.organization_challenges_content_subtitle {
  font-weight: 400;
  color: var(--main-txt-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica,
    Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-top: 2rem;
}
.organization_challenges_content_subtitle_2 {
  font-weight: 400;
  color: var(--main-txt-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica,
    Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-top: 0.5rem;
}

.organization_challenges_image {
  height: 650px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--size-42px);
}
.organization_challenges_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.organization_challenges_cards {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem; */
  margin-top: 4rem;
}

.organization_challenges_cards button {
  width: 100%;
  outline: none;
  padding: 2rem 0.5rem;
  border: 0;
  border-radius: 5px;
  background-color: #33545113;
  font-weight: 600;
  font-size: var(--size-21px);
}

.organization_challenges_cards button:hover {
  background-color: #33545128;
}

/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== percentage_cards ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */
.percentage_cards {
  /* border: 2px solid red; */
  padding: 0 50px;
  margin-bottom: 1rem;
}

/* .percentage_cards_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

.percentage_card_title {
  text-align: center;
}

.percentage_card_subtitle {
  font-weight: 600;
  color: var(--main-txt-color);
  text-align: left;
  font-size: var(--size-22px);
  line-height: 1.5;
}

/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== award_wrapper ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */
.award_wrapper_main {
  display: flex;
  flex-direction: column;
}
/* .wave_bottom {
} */
.award_wrapper {
  position: relative;
  margin-top: 0;
  padding-top: 2rem;
}
.award_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-txt-color);
  opacity: 0.2;
  z-index: -1;
}

.award_winning_wrapper_titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.award_winning_wrapper_titles img {
  width: 230px;
  margin-bottom: 0.8rem;
}

.award_winning_wrapper_title {
  max-width: 800px;
  line-height: 1.1;
}
.award_winning_wrapper_subtitle {
  max-width: 600px;
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--main-txt-color);
}

.award_winning_wrapper_titles a {
  padding: 13px 30px;
  background-color: var(--main-act-color);
  border-radius: 5px;
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: bold;
  margin-top: 1.5rem;
}
.award_winning_image_wrapper img {
  width: 100%;
}

/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== communication_stratigy ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */

.communication_stratigy_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
}
.communication_stratigy_image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--size-48px);
  height: 550px;
}
.communication_stratigy_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.communication_stratigy_content_list {
  margin-top: 1.3rem;
  padding-left: 1.5rem;
}

.communication_stratigy_content_btn {
  display: block;
  color: var(--main-act-color);
  text-decoration: none;
  margin-top: 3.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== try_youself ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */

/* .try_youself {
  margin-top: 10rem;
} */
.try_youself_wrapper_title {
  margin-bottom: 0;
}
.try_youself_wrapper_subtitle {
  width: 100%;
  max-width: 800px;
  font-weight: 400;
  color: var(--main-txt-color);
  margin: 0 auto;
  margin-bottom: var(--size-16px);
}
.try_youself_wrapper_btn {
  display: inline-block;
  padding: 13px 30px;
  background-color: var(--main-act-color);
  border-radius: 5px;
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: bold;
}

/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== team_cards ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */
/* .team_card {
  border: 2px solid red;
} */
.team_cards_subtitle_heading {
  font-weight: 500;
  color: var(--main-txt-color);
  font-size: var(--size-22px);
}
.team_cards_stars {
  margin-right: 1rem;
}

.team_cards_stars img {
  width: 20px;
}

.G2 {
  margin-right: 1.5rem;
  width: 20px;
}

.team_cards_wrapper {
  margin-top: 6rem;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  /* margin: 0 1rem; */
}

.team_card {
  width: 500px;
  text-align: center;
  padding: 2rem 2rem;
  /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); */
}

.team_card_icon {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.team_card_icon img {
  width: 200px;
  height: 60px;
  object-fit: contain;
  /* border: 2px solid red; */
}

.team_card_titles_title {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6;
}

.team_card_content {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
}
.team_card_content_title {
  font-size: 1.6rem;
  font-weight: 600;
}

.team_card_content_btn {
  text-decoration: none;
  font-size: 1.5rem;
}

.team_card_content_image_img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  object-fit: contain;
  /* border: 2px solid red; */
}

/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== team_cards ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */

.Happeo_resources_titles {
  margin-bottom: 3rem;
}

.Happeo_resources_subtitle {
  font-weight: 500;
}

/* .Happeo_resources_card {
  margin: 0 0.5rem;
} */

/* .Happeo_resources_card {
  flex: 1;
  flex-basis: 200px;
} */

.Happeo_resources_card img {
  width: 100%;
}

.Happeo_resources_card_content {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1.5rem;
  margin-top: -1rem;
}
.Happeo_resources_card_content_title {
  text-align: center;
}

.Happeo_resources_card_content_subtitle {
  font-size: 1.1rem;
  font-weight: 600;
}

.Happeo_resources_card_content_btn {
  text-align: center;
}

.Happeo_resources_card_content_btn a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
}

/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== footer ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */

.footer {
  display: flex;
  flex-direction: column;
}

.footer_container {
  background-color: var(--main-tit-color);
}

.footer_titles {
  text-align: center;
  margin-bottom: 7rem;
}

.footer_title {
  color: white;
}

.footer_title_btn {
  display: inline-block;
  /* width: auto; */
  padding: 13px 30px;
  background-color: var(--main-act-color);
  border-radius: 5px;
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: bold;
  margin-top: 2rem;
}

.footer_content {
  /* display: flex;
  justify-content: space-between; */
  margin-bottom: 3rem;
}

.footer_content_links {
  /* border: 2px solid red; */
  list-style-type: none;
}
.footer_content_links li {
  margin-bottom: 1rem;
}
.footer_content_links li a {
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: 400;
}
.footer_content_links_title {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.footer_social_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #3354513a;
  padding: 1rem 3rem;
  border-bottom: 2px solid #00201dc5;
  margin-bottom: 3rem;
}

.footer_social_links_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer_social_links_left img {
  width: 120px;
  height: 40px;
  margin-right: var(--size-19px);
}

.footer_social_link {
  text-decoration: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 0;
}

.footer_social_link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer_social_links_right a:not(:last-child) {
  margin-right: 0.8rem;
}

.footer_countries {
  margin: 0 0;
}
.footer_flag {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0.8rem 1rem;
}
.footer_flag img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 0.6rem;
  /* border: 2px solid red; */
}
.footer_footer {
  color: var(--one-bg-color);
  font-size: var(--size-16px);
  margin: 0 0;
}
.footer_footer span {
  margin-right: var(--size-30px);
  color: var(--one-bg-color);
}
.footer_footer sup {
  color: var(--one-bg-color);
}

.footer_terms {
  margin: 0 0;
}
.footer_terms p:not(:last-child) {
  border-right: 1px solid white;
}
.footer_terms p {
  color: white;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ======================================== index-2-group-1 ========================================  */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

.pr-4 {
  padding-right: 4rem;
}
.pl-4 {
  padding-left: 4rem;
}

.index-2 {
  color: var(--main-tit-color);
}

.index-2 h1,
.index-2 p,
.index-2 a {
  color: var(--main-tit-color);
}

.organization_challenges_cards_post_articels {
  width: 100%;
  max-width: 500px;
  background-color: var(--five-bg-color);
  margin-top: 4rem;
  border-radius: 10px;
  padding: 1rem;
}

.organization_challenges_cards_post_articels p {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--main-txt-color);
  line-height: 1.5;
}

.organization_challenges_cards_list {
  list-style-type: none;
  margin-top: 2rem;
}

.organization_challenges_cards_list li {
  font-weight: 400;
  margin-bottom: 1rem;
}

.organization_challenges_cards_link {
  display: block;
  color: var(--main-act-color);
  text-decoration: none;
  margin-top: 4.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.organization_challenges_index_2_image {
  margin-top: 4rem;
  padding: 0 var(--size-48px);
}
.organization_challenges_index_2_image img {
  width: 100%;
}

.organization_challenges_index_2_content {
  flex: 1;
}

.organization_challenges_index_2_content h6 {
  color: var(--main-txt-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica,
    Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-top: 2rem;
}

.organization_challenges_minititle {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1rem;
}
.organization_challenges_title {
  margin-top: 0;
  line-height: 1.1;
}
.organization_challenges_subtitle {
  margin-top: 0;
  font-weight: 400;
}

/* =============================================================================================== */
/* ===================================== tired_of_scrolling ============================================ */
/* =============================================================================================== */

.tired_of_scrolling {
  background-color: var(--five-bg-color);
  margin: 4rem 0;
}

.tired_of_scrolling_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 50px;
}

.tired_of_scrolling_wrapper_btn {
  padding: 13px 30px;
  background-color: var(--main-act-color);
  border-radius: 5px;
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: bold;
  color: white;
}

/* =============================================================================================== */
/* ===================================== enterprise_security ============================================ */
/* =============================================================================================== */

.enterprise_security_heading {
  text-align: center;
}

.enterprise_security_heading_1 {
  margin-bottom: 0;
  font-weight: 400;
  color: var(--main-tit-color);
}

.enterprise_security_heading_2 {
  margin-top: 0.4rem;
}

.enterprise_security_heading_3 {
  margin: 0 auto;
  width: 100%;
  max-width: 740px;
  font-weight: 400;
  color: var(--main-tit-color);
  text-align: center;
}

.enterprise_security_heading_btn {
  display: block;
  color: var(--main-act-color);
  text-decoration: none;
  margin-top: 1.2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.enterprise_security_lists_wrapper {
  /* display: flex;
  justify-content: space-between; */
  margin-top: 2rem;
}
.enterprise_security_lists {
  list-style-type: none;
  flex: 1;
}

.enterprise_security_list_heading {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  /* border: 2px solid red; */
}

.enterprise_security_lists li {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.enterprise_security_lists li img {
  width: 20px;
  margin-right: var(--size-16px);
}

.enterprise_security_images {
  margin-top: 2rem;
}

.enterprise_security_images img {
  width: 200px;
  margin: var(--size-24px);
}

/* =============================================================================================== */
/* ===================================== integrations ============================================ */
/* =============================================================================================== */

.integrations {
  background-color: var(--five-bg-color);
}
.integrations_2 {
  background-color: var(--four-bg-color);
}
.integrations_3 {
  background-color: var(--three-bg-color);
}

.integrations_headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.integrations_headings_1 {
  margin-bottom: 0;
  font-weight: 400;
  color: var(--main-tit-color);
}

.integrations_headings_2 {
  margin-top: 0.4rem;
  text-align: center;
  line-height: 1.2;
}

.integrations_headings_3 {
  width: 100%;
  max-width: 740px;
  font-weight: 400;
  color: var(--main-tit-color);
  text-align: center;
  margin-top: 0;
}

.integrations_cards {
  margin-top: 3rem;
}

.integrations_card {
  background-color: white;
  padding: 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 0rem 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.integrations_card img {
  width: 70px;
  margin-right: 1.5rem;
}

.integrations_card_title {
  color: var(--main-tit-color);
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.integrations_card_subtitle {
  color: rgb(161, 161, 161);
  font-size: 1.3rem;
}

.image_background_effect_orange {
  position: relative;
  /* border: 2px solid red; */
}
.organization_challenges_5 {
  overflow-x: hidden;
}
.image_background_effect_orange::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -70vw;
  width: 100vw;
  height: 100%;
  background-color: var(--sec-bg-two-color);
  transform: translateY(-50%);
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.image_background_effect_blue {
  position: relative;
}

.image_background_effect_blue::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -70vw;
  width: 100vw;
  height: 100%;
  background-color: var(--sec-bg-one-color);
  transform: translateY(-50%);
  z-index: -1;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
}

.mobail_app_title {
  margin-bottom: 0;
  font-weight: 400;
  color: var(--main-tit-color);
}
.mobail_app_subtitle {
  margin-top: 0;
  max-width: 500px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.1;
}
.mobail_app_disc {
  font-weight: 400;
}

.mobail_app_btns {
  margin-top: 1.5rem;
}

.mobail_app_btns a {
  text-decoration: none;
}
.mobail_app_btns a:not(:last-child) {
  margin-right: 1rem;
}

.mobail_app_btns a img {
  width: 130px;
  height: 40px;
}

.organization_challenges_special_img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.organization_challenges_special_img img {
  width: 100%;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ======================================== group-2-index-1.html ========================================  */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* navbar ================================================== */

.navbar {
  position: relative;
  padding-bottom: 0rem;
}

.navbar_hero_parent {
  margin-bottom: 0rem;
}

.three-bg-color {
  background-color: var(--three-bg-color);
}

.three-bg-color-2 {
  background-color: var(--three-bg-color);
}

.three-bg-color a {
  color: var(--main-tit-color);
}

.navbar_hero_section {
  background: var(--three-bg-color);
  width: 100%;
  padding: 0px 50px;
}

.navbar_hero_section_image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar_hero_section_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar_hero_section_title {
  width: 100%;
  max-width: 500px;
  line-height: 1.1;
}
.navbar_hero_section_subtitle {
  width: 100%;
  max-width: 550px;
  color: var(--main-txt-color);
  /* line-height: 1.2; */
  margin-bottom: 3rem;
  /* border: 2px solid red; */
}

.navbar_hero_section_btns a:nth-child(1) {
  display: inline-block;
  padding: 13px 5px;
  width: 200px;
  text-align: center;
  background-color: var(--main-act-color);
  border-radius: 5px;
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: var(--size-19px);
}

.navbar_hero_section_btns a:nth-child(2) {
  display: inline-block;
  padding: 13px 5px;
  width: 200px;
  text-align: center;
  border: 2px solid var(--main-act-color);
  background-color: transparent;
  border-radius: 5px;
  color: var(--main-act-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: var(--size-19px);
}

.group_2_index_1_title {
  line-height: 1.1;
}
.group_2_index_1_subtitle {
  color: var(--main-txt-color);
  font-weight: 500;
}

.group_2_index_1_cards_image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--size-48px);
}
.group_2_index_1_cards_image img {
  width: 100%;
}

/* =============================================================================================== */
/* ===================================== tired_of_scrolling ============================================ */
/* =============================================================================================== */

.tired_of_scrolling_2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--four-bg-color);
}

.tired_of_scrolling_2_wrapper {
  text-align: center;
  padding: 4rem 50px;
}

.tired_of_scrolling_2_wrapper h1 {
  line-height: 1.2;
}

.tired_of_scrolling_2_wrapper_btns a:nth-child(1) {
  display: inline-block;
  padding: 13px 5px;
  width: 200px;
  text-align: center;
  background-color: var(--main-act-color);
  border-radius: 5px;
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: var(--size-19px);
}

.tired_of_scrolling_2_wrapper_btns a:nth-child(2) {
  display: inline-block;
  padding: 13px 5px;
  width: 200px;
  text-align: center;
  border: 2px solid var(--main-act-color);
  background-color: transparent;
  border-radius: 5px;
  color: var(--main-act-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: var(--size-19px);
}

/* =============================================================================================== */
/* ===================================== group_2_index_1_articles ============================================ */
/* =============================================================================================== */

.group_2_index_1_article {
  background-color: white;
  /* border: 2px solid red; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}

.group_2_index_1_article_titles {
  text-align: left;
  padding: 0 2.5rem;
  padding-bottom: 3.6rem;
}

.group_2_index_1_article_title {
  margin-bottom: 0;
  line-height: 1.1;
}
.group_2_index_1_article_subtitle {
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--main-txt-color);
}

.group_2_index_1_article_image {
  display: flex;
  align-items: flex-start;
  height: 400px;
  position: relative;
  /* border: 2px solid red; */
  /* margin-bottom: 0rem; */
}

.group_2_index_1_article_image img {
  /* border: 2px solid blue; */
  width: 100%;
  height: 500px;
  object-fit: contain;
  position: absolute;
  top: -100px;
  left: 0;
}

/* =============================================================================================== */
/* ===================================== hundred_brands ============================================ */
/* =============================================================================================== */

.hundred_brands {
  background-color: var(--one-bg-color);
}
.hundred_brands_titles {
  text-align: center;
}

.hundred_brands_titles h1 {
  margin: 0;
  line-height: 1.2;
}

.hundred_brands_image {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 4rem;
}
.hundred_brands_image img {
  width: 100%;
}

.hundred_brands_cards {
  margin-top: 4rem;
}
.hundred_brands_card {
  text-align: left;
}

.hundred_brands_card_title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 0;
}

.hundred_brands_card_subtitle {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 0rem;
}

/* =============================================================================================== */
/* ===================================== trusted_by ============================================ */
/* =============================================================================================== */

.trusted_by_titles {
  text-align: center;
}
.trusted_by_title {
  line-height: 1.1;
  text-align: center;
}

.trusted_by_subtitle {
  width: 100%;
  max-width: 810px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  color: var(--main-txt-color);
}

.trusted_by_cards {
  margin-top: 4rem;
}

.trusted_by_card_small {
  text-align: center;
  padding: 2rem 1.5rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 650px;
}

.trusted_by_card_big {
  text-align: center;
  padding: 2rem 1.5rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 700px;
}
.trusted_by_card {
  text-align: center;
  padding: 2rem 1.5rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-height: 700px;
}

.trusted_by_card_small .trusted_by_card_content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
}
.trusted_by_card_big .trusted_by_card_content {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
}

.trusted_by_card_icon {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.trusted_by_card_icon img {
  width: 200px;
  height: 60px;
  /* border: 2px solid red; */
  object-fit: contain;
}

.trusted_by_card_titles_title {
  font-weight: 600;
  font-size: var(--size-24px);
  line-height: 1.6;
}

.trusted_by_card_content {
  /* border: 2px solid red; */
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
}
.trusted_by_card_content_title {
  font-size: 1.6rem;
  font-weight: 600;
}

.trusted_by_card_content_btn {
  text-decoration: none;
  font-size: 1.5rem;
}

.trusted_by_card_content_image img {
  /* border: 2px solid red; */
  width: 100px;
  height: 100px;
  margin: 0 auto;
  object-fit: contain;
}

/* =============================================================================================== */
/* ===================================== FAQ ============================================ */
/* =============================================================================================== */

.FAQ_titles {
  text-align: center;
}
.FAQ_subtitle {
  font-weight: 400;
}

.FAQ_content_wrapper {
  border: 2px solid var(--five-bg-color);
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 5px;
}

.FAQ_content {
  padding: 0rem 6rem;
}

.FAQ_content_wrapper .FAQ_content:not(:last-child) {
  border-bottom: 2px solid var(--five-bg-color);
}

.FAQ_content_title {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.FAQ_content_title img {
  width: 30px;
  transition: all 0.3s ease;
  margin-left: 1rem;
  transform: rotate(180deg);
}

.FAQ_content_title.active img {
  transform: rotate(180deg);
}

/* .FAQ_content_title.active + .FAQ_content_disc {
  display: block;
} */

.FAQ_content_disc {
  height: auto;
  overflow: hidden;
  transition: all 0.4s ease;
}

.FAQ_content_disc_main_content {
  /* border: 2px solid red; */
  padding-bottom: 3rem;
}

.FAQ_content_disc p {
  /* display: none; */
  font-size: 1.2rem;
  margin: 0;
}

.FAQ_content_disc_main_content_list {
  margin-top: 2.5rem;
  list-style-type: none;
}
.FAQ_content_disc_main_content_list li {
  margin: 0 0;
  margin-bottom: 0.2rem;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ======================================== group-2-index-2.html ========================================  */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

.two-bg-color {
  background-color: var(--two-bg-color);
}

.two-bg-color-header-links {
  color: var(--main-tit-color);
}

.two-bg-color-header-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-bg-color-header-links a {
  margin: 0 10px;
  color: var(--main-tit-color);
  text-decoration: none;
  font-weight: 400;
}

.two-bg-color-header-btns {
  color: var(--main-tit-color);
  text-decoration: none;
  font-weight: 400;
  margin-right: 20px;
}

/* =============================================================================================== */
/* ===================================== work_from ============================================ */
/* =============================================================================================== */

.work_from {
  background-color: var(--two-bg-color);
}

.work_from_titles {
  text-align: center;
}

.work_from_subtitle {
  font-weight: 400;
  color: var(--main-txt-color);
}

.work_from_btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* display: block; */
}
.work_from_image {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  /* border: 2px solid red; */
  margin-top: 3rem;
}
.work_from_image img {
  width: 100%;
}

/* =============================================================================================== */
/* ===================================== mobile_intranet ============================================ */
/* =============================================================================================== */

.mobile_intranet_titles {
  text-align: center;
}

.mobile_intranet_subtitle {
  font-weight: 400;
  color: var(--main-txt-color);
  font-size: 1.4rem;
}

.mobile_intranet_cards {
  margin-top: 3rem;
}
.mobile_intranet_card_image {
  /* border: 2px solid red; */
  height: 100%;
}
.mobile_intranet_card_image img {
  width: 100%;
  /* height: 100%;
  object-fit: contain; */
}

.mobile_intranet_card {
  text-align: left;
  margin-bottom: 2rem;
}
.mobile_intranet_card.active {
  background-color: var(--one-bg-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.mobile_intranet_card_title {
  font-size: 1.7rem;
  margin-bottom: 0;
}

.mobile_intranet_card_subtitle {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--main-txt-color);
  line-height: 1.4;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ======================================== group-2-index-3 ========================================  */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ======================================== group-2-index-4 ========================================  */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

.four-bg-color {
  background-color: var(--four-bg-color);
}

.hundred_brands_2 {
  background-color: var(--four-bg-color);
  margin: 2rem 0;
}

/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ======================================== group-3-index-1 ========================================  */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */
.navbar_hero_section_btns_group_4 {
  margin: 0 auto;
}

.navbar_hero_section_btns_group_3 a:nth-child(1) {
  display: inline-block;
  padding: 13px var(--size-34px);
  text-align: center;
  background-color: var(--main-act-color);
  border-radius: 5px;
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: var(--size-19px);
}

.navbar_hero_section_btns_group_3 a:nth-child(2) {
  display: inline-block;
  padding: 13px var(--size-34px);
  text-align: center;
  border: 2px solid var(--main-act-color);
  background-color: transparent;
  border-radius: 5px;
  color: var(--main-act-color);
  text-decoration: none;
  font-weight: bold;
}
.navbar_hero_section_btns_group_4 a:nth-child(1) {
  display: inline-block;
  padding: 13px var(--size-34px);
  text-align: center;
  background-color: var(--main-act-color);
  border-radius: 5px;
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: var(--size-19px);
}

.navbar_hero_section_btns_group_4 a:nth-child(2) {
  display: inline-block;
  padding: 13px var(--size-34px);
  text-align: center;
  border: 2px solid var(--main-act-color);
  background-color: transparent;
  border-radius: 5px;
  color: var(--main-act-color);
  text-decoration: none;
  font-weight: bold;
}

/* =============================================================================================== */
/* ===================================== ready_to_go ============================================ */
/* =============================================================================================== */

.ready_to_go_title {
  text-align: center;
  line-height: 1.2;
}

.ready_to_go_card_title {
  margin-bottom: 0;
}
.ready_to_go_subtitle {
  text-align: center;
  font-weight: 400;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.ready_to_go_card {
  text-align: left;
  margin-top: 4rem;
}
.ready_to_go_card_img {
  width: 150px;
  height: 110px;
  /* height: 130px; */
  /* border: 2px solid red;
  object-fit: contain; */
}

.ready_to_go_card_img_2 {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.ready_to_go_card_subtitle {
  font-weight: 400;
}

.project_management {
  margin: 70px 0;
}

/* =============================================================================================== */
/* ===================================== custom_widgets ============================================ */
/* =============================================================================================== */

.custom_widgets_card {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: var(--size-30px) 0;
  border-radius: 5px;
}

.custom_widgets_card_img {
  width: 100%;
  height: 270px;
  /* object-fit: contain; */
}

.custom_widgets_card_content {
  padding: 0 var(--size-21px);
}

.custom_widgets_card_content h6 {
  font-weight: 400;
  color: grey;
}

.custom_widgets_card_subtitle {
  margin-bottom: 2rem;
}

.custom_widgets_card_list {
  list-style-type: none;
}

.custom_widgets_card_list li {
  display: flex;
  align-items: center;
  /* padding: 0.5rem 0; */
  /* border: 2px solid red; */
}

.custom_widgets_card_list_li_img {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  margin-right: 1rem;
}

.communication_stratigy_content_btn_2 {
  display: inline-block;
  padding: 13px var(--size-34px);
  text-align: center;
  background-color: var(--main-act-color);
  border-radius: 5px;
  color: var(--one-bg-color);
  text-decoration: none;
  font-weight: bold;
  margin-right: var(--size-19px);
  margin-top: 3rem;
}

.communication_stratigy_content_titles_2 {
  /* border: 2px solid red; */
  margin-bottom: 1rem;
}

.communication_stratigy_content_titles_2_title {
  margin: 0 0;
  margin-bottom: 1rem;
}

.communication_stratigy_content_titles_2_subtitle {
  font-weight: 400;
  color: var(--main-txt-color);
  margin-top: 0;
}

/* =============================================================================================== */
/* ===================================== google_workspace_integration ============================================ */
/* =============================================================================================== */
.google_workspace_integration {
  margin: 70px 0;
}

.google_workspace_integration_card {
  /* border: 2px solid red; */
  margin-bottom: 2rem;
}

.google_workspace_integration_titles_image {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2.2rem;
}

.google_workspace_integration_titles {
  text-align: center;
  margin-bottom: 3rem;
}

.google_workspace_integration_title {
  line-height: 1.2;
}

.google_workspace_integration_cards {
  text-align: left;
}

.google_workspace_integration_card_title {
  display: flex;
  align-items: center;
  margin: 0 0;
  margin-bottom: 0.8rem;
}
.google_workspace_integration_card_title_img {
  margin-right: 0.2rem;
}

.google_workspace_integration_card_subtitle {
  font-weight: 400;
  margin: 0 0;
}

/* =============================================================================================== */
/* ===================================== get_quick ============================================ */
/* =============================================================================================== */
.get_quick_titles_title {
  text-align: center;
  margin-bottom: 4rem;
}

.get_quick_card_titles {
  padding: 1.2rem 1rem;
  border-radius: 5px;
}

.get_quick_card_titles_title {
  margin: 0 0;
  margin-bottom: 1.5rem;
}
.get_quick_card_titles_subtitle {
  margin: 0 0;
  font-weight: 400;
  color: var(--main-txt-color);
}
.get_quick_card_titles_subtitle_2 {
  margin: 0 0;
  margin-top: 1.5rem;
  font-weight: 400;
  color: var(--main-txt-color);
}

.get_quick_card_list {
  list-style-type: none;
  margin-top: 0.5rem;
}

.get_quick_card_list li {
  margin: 1.8rem 0;
}

.get_quick_card_2 {
  margin: 4rem 0;
  text-align: left;
}

.get_quick_card_2_subtitle {
  font-weight: 400;
}

/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* ===================================== Media queries ============================================ */
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* =============================================================================================== */
/* Media queries */

@media (max-width: 800px) {
  .footer_social_links {
    padding: 1rem 1rem;
    flex-direction: column;
  }

  .footer_social_links_left {
    margin-bottom: 1rem;
  }

  .footer_social_links_left img {
    margin-right: 0;
    margin: var(--size-16px);
  }
}

@media (max-width: 760px) {
  section {
    /* Mine */
    padding: 70px 15px;
  }

  .navbar_hero_section {
    padding: 0px 15px;
  }

  footer {
    padding: 30px 20px;
  }

  .hero_section_titles h1 {
    font-size: var(--size-58px);
    line-height: 1.1;
  }

  .hero_section_titles_btn a:nth-child(1) {
    padding: 13px 25px;
    width: auto;
  }

  .hero_section_titles_btn a:nth-child(2) {
    padding: 13px 25px;
    width: auto;
  }

  h1 {
    font-size: var(--size-52px);
  }

  .organization_challenges_image {
    height: auto;
    padding: 0 0;
  }

  .organization_challenges_image img {
    object-fit: cover;
  }

  .communication_stratigy_image {
    padding: 0 0;
    height: auto;
  }

  .organization_challenges_index_2_image {
    margin-top: 0rem;
    padding: 0 0;
  }

  .group_2_index_1_cards_image {
    padding: 0 0;
  }

  .group_2_index_1_article {
    margin-top: 0;
  }

  .group_2_index_1_article_titles {
    text-align: left;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
  }

  .group_2_index_1_article_subtitle {
    margin-top: 1rem;
    font-size: var(--size-22px);
  }

  .group_2_index_1_article_image {
    display: flex;
    align-items: center;
    height: 300px;
    position: relative;
  }

  .group_2_index_1_article_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: static;
  }

  .FAQ_content {
    padding: 0rem 2rem;
  }

  .trusted_by_card {
    min-height: auto;
  }

  .trusted_by_card_content {
    height: auto;
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  .tired_of_scrolling_2_wrapper h1 {
    line-height: 1.2;
  }

  .hero_section_titles h1 {
    font-size: var(--size-46px);
  }

  h1 {
    font-size: var(--size-48px);
  }

  h5 {
    font-size: var(--size-24px); /*30px*/
    line-height: var(--size-40px); /*40px*/
  }

  h6 {
    font-size: var(--size-19px); /*24px*/
  }

  .header_links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header_links a {
    margin: 0.8rem 0.8rem;
  }

  .organization_challenges_cards {
    margin-top: 2rem;
  }

  .organization_challenges_cards button {
    font-size: var(--size-19px);
  }

  .try_youself_wrapper_title {
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .trusted_by_card_titles_title {
    font-size: var(--size-22px);
  }

  .group_2_index_1_article_title {
    font-size: var(--size-36px);
    margin-bottom: 0;
    line-height: 1.2;
  }
}
